/*The use of Google AI Overview and ChatGPT were used to create parts of this project*/

/*Makes it so that the text doesn't go from one end of the screen to the other. Limits the text*/
.container {
    width: 800px;
    margin: 30px auto;
}

body {
    font-family: 'Times New Roman';
    margin: 0;
    padding-bottom: none;    
    
}


.contact {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 6px;
    margin-bottom: 2px;  
    
}

.header {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.header a {
    font-size: 14px;
}

h1{
    margin-bottom: 0px;
}

/*Adds the separating line at the bottom of each header*/
h4{
    border-bottom: 1px solid #000000;
    padding-bottom: 0px;
    margin-bottom: 2px; 
}

/*Aligns text to the right (ex: dates and GPA)*/
.line {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.skills {
    margin-bottom: 5px;
}

ul {
    margin-top: 0;
}

.indent {
    padding-left: 20px; 
}